@model DetallePedidoViewModel
@{
    ViewData["Title"] = "Crear Detalles de Pedido";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow rounded">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="fa fa-flag me-2"></i>Agregar Detalle de Pedido</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Crear" method="post">
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="mb-3">
                            <label asp-for="PedidoId" class="form-label">Pedido Id</label>
                            <input asp-for="PedidoId" class="form-control" placeholder="Ingresa el nombre del producto" />
                            <span asp-validation-for="PedidoId" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ProductoId" class="form-label">Producto Id</label>
                            <input asp-for="ProductoId" class="form-control" placeholder="" />
                            <span asp-validation-for="ProductoId" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Cantidad" class="form-label">Cantidad</label>
                            <input asp-for="Cantidad" class="form-control" placeholder="" />
                            <span asp-validation-for="Cantidad" class="text-danger small"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PrecioUnitario" class="form-label">PrecioUnitario</label>
                            <input asp-for="PrecioUnitario" class="form-control" placeholder="" />
                            <span asp-validation-for="PrecioUnitario" class="text-danger small"></span>
                        </div>

                        <div class="d-flex justify-content-between mt-3">
                            <a asp-controller="DetallePedido" asp-action="Index" class="btn btn-secondary">
                                <i class="fa fa-arrow-left me-1"></i>Volver Atras
                            </a>

                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-plus me-1"></i> Crear Detalles del Pedido
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
